In [1]:
2 + 2

4

In [3]:
d = {'state' : ["ohio", "wyoming", "utah"], "v1" : [1,2,3], "v2" : [4,5,6]}

In [4]:
print(d)

{'state': ['ohio', 'wyoming', 'utah'], 'v1': [1, 2, 3], 'v2': [4, 5, 6]}

In [5]:
d[1]

KeyError: 1

In [6]:
print(d['state'])

['ohio', 'wyoming', 'utah']

In [7]:
from seaborn import sns

ImportError: cannot import name 'sns' from 'seaborn' (C:\Users\gored\anaconda3\Lib\site-packages\seaborn\__init__.py)

In [10]:
iris = sns.load_dataset('iris')

In [9]:
import seaborn as sns

In [11]:
iris.head

<bound method NDFrame.head of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [12]:
iris["sepal_length"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [13]:
iris.sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [14]:
iris[["sepal_length"]]

     sepal_length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]